
$primary: #007D88;
$secondary: #ebf5f5;
$light: #F4F5F5;


@import "../../node_modules/bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

body {
    font-family: 'DM Sans', sans-serif;
    color: #262a2e
}